image: python:3.10-slim

stages:
  - build
  - lint
  - test
  - security 

cache:
  paths:
    - .pip-cache/

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"

# ---  BUILD ---
setup_environment:
  stage: build
  script:
    - python -m pip install --upgrade pip
    - pip install -r requirements.txt
  artifacts:
    paths:
      - .pip-cache/
    expire_in: 1 hour

# --- LINT (Calidad) ---
check_quality:
  stage: lint
  script:
    - pip install flake8
    - flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
  dependencies:
    - setup_environment

# ---TEST CON COBERTURA ---
run_tests:
  stage: test
  script:
    - pip install -r requirements.txt
    - pip install pytest pytest-cov
    - export PYTHONPATH=$PYTHONPATH:.
    - pytest --cov=. --cov-report term test/
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  dependencies:
    - setup_environment

# --- SEGURIDAD (SAST) ---
include:
  - template: Security/SAST.gitlab-ci.yml

sast:
  stage: security
  variables:
    SAST_EXCLUDED_ANALYZERS: "brakeman, flawfinder, kubesec, phpcs-security-audit, pmd-apex, security-code-scan, sobelow, spotbugs"
  